
beautifulsoup4
certifi
# Core utilities
datasets
# Evaluation
Flask
Flask-Cors
hdbscan==0.8.41
langchain
langchain_chromabertopic==0.17.4
langchain-community 
langchain-core
langchain-google-genai
langchain-groq
# LangChain + Groq integration
langchain-text-splitters 
langgraph
pandas
pdfplumber 
pillow
Pillow
pymongo
pypdf 
pytesseract
python-dotenv
ragas
redis
# Redis for message queue and pub/sub
requests
sentence-transformers 
tavily
# tesseract is a python wrapper
transformers 
unstructured[pdf]
# Web Framework
