# Core utilities
python-dotenv
requests
pandas
Pillow
pytesseract
beautifulsoup4
tavily
pymongo
certifi

# LangChain + Groq integration
langchain
langchain-groq
langchain-core
langchain-community 
langgraph

# Web Framework
Flask
Flask-Cors

# tesseract is a python wrapper

langchain-text-splitters 
pypdf 
pdfplumber 
pillow
transformers 
sentence-transformers 
torch

# Evaluation
ragas
datasets
langchain_chroma