# Core utilities
python-dotenv
requests
pandas
Pillow
pytesseract
beautifulsoup4
tavily

# LangChain + Groq integration
langchain
langchain-groq
langchain-core
langchain-community 

# tesseract is a python wrapper -> brew install teserract 